.search-history-input{
    width: 500px;
    padding: 10px 0px 10px 5px;
    border-radius: 8px;
    display: flex;
  }


  .search-history-select-input{
    width: 300px;
    padding: 10px 0px 10px 5px;
    border-radius: 8px;
    display: flex;
  }

